body {
    height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow: scroll;
    font-family: Roboto, sans-serif;
}

.hero,
.footer,
.header {
    background-color: #1f2937;
}

h1 {
    font-size: 48px;
    font-weight: 1000;
    color: #f9faf8;
    margin-bottom: 0px;
    padding: 0px;
    width: 350px;
}

#title-text {
    max-width: 450px;
    font-size: 18px;
    color: #e5ebe7;
    flex-wrap: wrap;
}

#header-logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 1000;
}

#hero-button {
    border: none;
    font-size: large;
    font-weight: bold;
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 5px;
    padding: 8px;
    min-height: 30px;
    min-width: 100px;
    margin-bottom: 16px;
    margin-top: 8px;
}

#information {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.quote{
    background-color: #e5e7eb;
}

#quote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
}

img {
    width: 525px;
    height: 235px;
}

.links {
    color: #e5e7eb;
    display: flex;
    gap: 16px;
    margin-top: auto;
    margin-bottom: auto;
}

.center {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
}

.header {
    width: 1244px;
    margin-bottom: 100px;
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer {
    color: #e5ebe7;
}

.hero {
    width: 1244px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

#information {
    text-align: center;
    font-weight: 1000;
}

.center-white {
    display: flex;
    background-color: #f9faf8;
    justify-content: center;
}

.galery {
    width: 900px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    color: rgba(0, 0, 0, 0.705);
    margin: 35px;
}

#sub-one {
    width: 150px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#round-inside-one {
    border-radius: 15px;
    border: 5px solid #3882f6;
    padding: 20px;
    width: 125px;
    height: 125px;
}

.content {
    margin: 35px;
}

.center-grey {
    background: #e5e7eb;
    display: flex;
    justify-content: center;
    padding: 100px;
}

.quote {
    width: 820px;
}

#author {
    font-weight: 900;
    text-align: end;
    padding-right: 25px;
    font-size: 24px;
}

.call-center {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.call-to-action {
    border-radius: 5px;
    background-color: #3882f6;
    width: 1000px;
    margin: 35px;
    display: flex;
    color: #f9faf8;
    justify-content: space-between;
    align-content: center;
    padding: 50px;
}

#sign-up {
    border: 2px solid #e5e7eb;
    font-size: large;
    font-weight: bold;
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 5px;
    padding: 8px;
    min-height: 30px;
    min-width: 100px;
    cursor: pointer;
    height: 40px;
    margin: 0px;
    margin-top: 6px;
}

h3 {
    margin: 0px;
    margin-bottom: 10px;
}

.content-box-align {
    justify-content: center;
}

.footer {
    text-align: center;
    background-color: #1f2939;
    padding: 50px;
}